{% block money_widget -%}
    
    {%- set prepend = not (money_pattern starts with '{{') -%}
    {%- set append = not (money_pattern ends with '}}') -%}
    {%- if prepend or append -%}
        <div class="input-group{{ group_class|default('') }}">
            {%- if prepend -%}
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ money_pattern|form_encode_currency }}</span>
                </div>
            {%- endif -%}
            {{- block('form_widget_simple') -}}
            {%- if append -%}
                <div class="input-group-append">
                    <span class="input-group-text">{{ money_pattern|form_encode_currency }}</span>
                </div>
            {%- endif -%}
        </div>
    {%- else -%}
        {{- block('form_widget_simple') -}}
    {%- endif -%}
    
    {{- block('price_javascript') -}}
    
{%- endblock money_widget %}

{% block price_javascript %}
    <script type="text/javascript" src="{{ asset('bundles/kmjcurrency/js/jquery.priceFormat.min.js') }}"></script>
    <script>
    
    (function() {
        priceFormat{{ name|capitalize }}();
    })();

    function priceFormat{{ name|capitalize }}() 
    {
        if (!window.jQuery) {  
            alert("JQuery required");
            return;
        }
        
        $('#{{ id }}').addClass('priceformat');
        $('#{{ id }}').attr('price-prefix', '{{ prefix }}');
        $('#{{ id }}').attr('price-suffix', '{{ suffix }}');
        $('#{{ id }}').attr('price-cents-separator', '{{ cents_separator }}');
        $('#{{ id }}').attr('price-cents-limit', {{ scale }});
        
        $('#{{ id }}').priceFormat({    
            prefix: $('#{{ id }}').attr('price-prefix'),
            suffix: $('#{{ id }}').attr('price-suffix'),
            centsSeparator: $('#{{ id }}').attr('price-cents-separator'),
            centsLimit: parseInt('' + $('#{{ id }}').attr('price-cents-limit'))
        });
    }
        
    </script>
{% endblock %}